.wish_add, .wish_make, .scrollup {
 -webkit-transition: all 0.2s ease;
 -moz-transition: all 0.2s ease;
 -o-transition: all 0.2s ease;
 transition: all 0.2s ease;
}

.blue {
 color: #0d86d5;
}

.c-asphalt {
 color: #75849b;
}

.block {
 display: block;
}

.underline {
 text-decoration: underline;
}

.y_counter, .arrow_box, .checkbox, .switch, #menu {
 -webkit-user-select: none;
 -moz-user-select: none;
}

input {
 -webkit-user-select: text;
 -moz-user-select: text;
}

.px12 {
 font-size: 12px !important;
}

.px28 {
 font-size: 28px !important;
}

.text-l .small-icon {
 margin-right: 5px;
}

.text-l li {
 font-size: 12px;
 color: #485465;
 margin-top: 5px;
}

.bold {
 font-weight: bold;
}

.info_right li {
 margin-bottom: 7px;
}

h3 a {
 color: #0e87d7;
 text-decoration: none;
}

h3 a:hover {
 text-decoration: underline;
}

.y_counter .c_name {
 position: relative;
 font-size: 11px;
 height: 22px;
 line-height: 22px;
 color: #797882;
 text-shadow: 0px 1px 0px #fff;
 border: 1px solid #d1d1d1;
 padding-left: 7px;
 display: inline-block;
 z-index: 10;
 border-radius: 3px 0px 0px 3px;
 box-shadow: inset 0px 1px 0px #fcfcfc;
 margin-right: 12px;
 background-color: #ebebeb;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f7f7f7));
 background-image: -webkit-linear-gradient(top, #ebebeb, #f7f7f7);
 background-image: -moz-linear-gradient(top, #ebebeb, #f7f7f7);
 background-image:-o-linear-gradient(top, #ebebeb, #f7f7f7);
 background-image:linear-gradient(to bottom, #ebebeb, #f7f7f7);
 behavior: url(../PIE.htc);
}

.y_counter .c_name:after {
 content: "";
 position: absolute;
 top: -1px;
 width: 11px;
 height: 24px;
 background: #fff url(../pic/counter-right.png);
}

.y_counter .c_digit {
 position: relative;
 margin-left: -1px;
 top: 3px;
 font-size: 18px;
 display: inline-block;
 text-align: center;
 background: #eee url(../pic/counter-digit.png);
 width: 18px;
 line-height: 24px;
 height: 24px;
}

.y_counter .c_digit:after {
 left: 1px;
 top: 9px;
 content: "";
 position: absolute;
 background: url(../pic/counter-middle.png);
 height: 5px;
 width: 16px;
}

.status, .feed-status {
 height: 21px;
 border: solid 1px #bfbfbf;
 border-radius: 3px;
 behavior: url(../PIE.htc);
 background: #fff;
}

.status input[type="text"], .feed-status input[type="text"] {
 font-size: 11px !important;
 height: 11px;
 padding: 5px 0 !important;
 margin: 0;
 border: none !important;
}

.status input[type="text"] {
 width: 430px;
}

.feed-status .status {
 width: 545px !important;
 font-size: 10px !important;
 font-family: Tahoma, Helvetica, Arial, sans-serif;
 width: 100%;
}

.arrow_box {
 height: 11px;
 padding: 5px 8px 5px 10px;
 background: #62b0e3;
 color: #fff;
 position: relative;
 margin-right: 15px;
 border-radius: 2px 0 0 2px;
 behavior: url(../PIE.htc);
}

.arrow_box:after {
 content: "";
 position: absolute;
 width: 0;
 height: 0;
 top: 0px;
 right: -7px;
 border-top: 10px solid transparent;
 border-bottom: 11px solid transparent;
 border-left: 7px solid #62b0e3;
}

.photos_mini {
 margin: 12px 0;
}

.c-db { /* Dark brownish */
 color: #716e6b;
}

.c-lg { /* Light green */
 color: #97b425;
}

.c-g {
 color: #92929c; /* Grey */
}

.photos_mini a:hover {
 text-decoration: underline;
}

.profile-info {
 color: #97b425;
 text-align: center;
 font-size: 11px;
 font-weight: bold;
 position: relative;
}

.profile-info a {
 color: #97b425;
 text-decoration: none;
}

.profile-info a:hover {
 text-decoration: underline;
}

.profile-info .arrow {
 position: absolute;
 left: 50%;
 margin-left: -2px;
 top: 15px;
 width: 0;
 height: 0;
 border-left: 4px solid transparent;
 border-right: 4px solid transparent;
 border-top: 6px solid #97b425;
}

/*.fav-places {
 clear: both;
 display: block;
 margin-top: 22px;
}*/

h4 {
 font-size: 11px;
 margin-bottom: 12px;
}

.fav-places h4, .news-feed h4 {
 font-size: 12px;
 color: #97B425;
}

h4:before {
/* content: "";
 background: #aeb4c5;
 border: none;
 height: 1px;
 width: 100%;
 margin: 14px 0 10px;
 float: left;*/
}

.fancy {
 border-radius: 5px;
 box-shadow: 0 1px 3px rgba(0,0,0,.1);
 behavior: url(../PIE.htc);
 border: 1px solid #d6d9e2;
 background: #fff;
 padding: 4px;
}

.no {
 text-decoration: none; 
}

.no:hover {
 text-decoration: underline;
}

.no-b {
 border-top: none;
}

.news-feed {
 position: relative;
}

.first-child:before {
 content: "";
 position: absolute;
 background: #fff;
 top: 0px;
 right: 160px;
 width: 1px;
 height: 20px;
}

.last-child .event_l, .last-child .event_r {
 border-bottom: 0;
}

.feed-box {
 background: #f4f5f5;
 display: inline-block;
 padding: 16px 10px 20px 15px;
 width: 755px;
 height: 35px;
 position: relative;
 border-top: 1px solid #e8eaec;
 border-bottom: 1px solid #e8eaec;
 overflow: hidden;
}

.feed-box .feed-status {
 margin-bottom: 10px;
}

.feed-submit {
 height: 23px;
 border: 1px solid #bfbfbf;
 background: #94d600;
 padding: 0 12px;
 color: #fff;
 font-family: Tahoma, Helvetica, Arial, sans-serif;
 border-radius: 3px;
 cursor: pointer;
 position: relative;
 z-index: 5;
 -webkit-transition: background 0.2s ease;
 -moz-transition: background 0.2s ease;
 -o-transition: background 0.2s ease;
 transition: background 0.2s ease;
 behavior: url(../PIE.htc);
}

.feed-box .right {
 position: relative;
 left: 9px;
}

.feed-submit:hover {
 background: #83b900;
}

.feed-submit:active {
 background: #649d00;
}

.feed-box .checkbox {
 cursor: pointer;
 position: absolute;
 right: 11px;
 bottom: 8px;
}

/*.hide {
 display: none;
}*/

.feed-status .small-icon {
 position: relative;
 top: 3px;
 margin-right: 4px;
}

.pointer {
 cursor: pointer;
}

.feed-status .s_i {
 width: 535px !important;
}

.feed-events {
 position: relative;
 clear: both;
 display: table;
}

.feed-event {
 display: table;
}

.event_l {
 padding: 20px 0 30px 0;
 width: 619px;
 border-bottom: 1px solid #e7e8ee;
 border-right: 1px solid #e7e8ee;
 display: inline-block;
}

.event_l .date {
 color: #c5c6c7;
 position: relative;
 right: 10px;
 top: -3px;
}

.event_r {
 position: relative;
 padding-left: 18px;
 margin-top: 20px;
 min-height: 139px;
 width: 142px;
 display: inline-block;
 border-bottom: 1px solid #e7e8ee;
}

.event_r .wishlist-actions li a {
 padding: 0;
 margin: 0px 0px 3px 7px;
 font-size: 10px;
}

.event_l .small-icon {
 margin-left: 0px;
}

.medium-avatar .ava {
 width: 50px;
 height: 50px;
 margin-left: 3px;
}

.event_l .status-icon-small {
 margin-left: 8px;
}

.event_l .name {
 position: relative;
 bottom: 3px;
 font-size: 11px;
 color: #3d99d5;
 font-weight: bold;
 float: left;
 word-wrap: break-word;
 width: 440px;
}

.event_l .desc {
 display: block;
 position: relative;
 bottom: 1px;
 clear: both;
}

.event_l .f-wrap {
 float: left;
 margin-left: 8px;
}

.gift-row {
 margin-top: 7px;
 margin-left: 1px;
 margin-bottom: 108px;
}

.gift-preview {
 height: 70px;
 width: 70px;
 padding: 2px;
 display: inline-block;
 border: 1px solid #d1d4d6;
 background: #f9fafa;
 float: left;
 clear: right;
}

.gift-preview .small {
 width: 70px;
 height: 53px;
}

.gift-price {
 color: #3d99d5;
 font-weight: bold;
 font-size: 10px;
 text-align: center;
 margin-top: 2px;
}

.gift-name {
 margin-top: 12px;
 text-align: center;
 font-size: 10px;
 color: #464d52;
 clear: both;
 display: block;
}

.gift-middle {
 float: left;
 height: 74px;
 margin-top: 1px;
 font-weight: bold;
 line-height: 74px;
 padding: 0 20px;
}

.gift-big {
 height: 70px;
 width: 70px;
 margin-bottom: -3px;
}

/*.category-icon-eat:hover {
 background-position: 0 0 !important; 
}*/

.map-mini {
 display: inline-block;
 float: left;
 height: 70px;
 width: 70px;
 border: 1px solid #dddfe0;
 margin-top: 5px;
}

.pe {
 width: 256px;
 padding: 0 8px 10px 8px;
}

/*.place-info ul {
 position: relative;
 left: 5px;
}*/

/*.place-info ul li {
 padding: none;
}*/


/*.place-info ul li a:hover {
 background: none !important;
 text-decoration: underline;
}*/

.event_r .absolute {
 position: absolute;
 bottom: 14px;
}

/*.second {
 position: absolute;
 bottom: 10px;
}*/

.full-info {
/* position: absolute;
 background: #fff;
 width: 101%;
 left: -1px;
 top: 20px;
 z-index: 9;*/
}

.info-content {
 position: relative;
}

.info-rows {
 text-align: left;
 margin-top: 20px;
 margin-bottom: 5px;
 padding-bottom: 10px;
 /*height: 351px;*/
}

.info-row {
 width: 200px;
 display: block;
 float: left;
 margin-right: 60px;
 margin-bottom: 10px;
}

.info-row p {
 color: #716e6b;
 font-weight: normal;
 line-height: 18px;
}

.info-row .name {
 font-weight: bold;
}

/*
.info-rows .middle {
 padding: 0 90px;
}
*/

.info-controls {
 position: absolute;
 width: 100%;
 text-align: center;
 z-index: 10;
}

.switch2 {
 cursor: pointer;
}

.n-switch {
 padding: 5px 0;
}

/*
.rotate180 {
 animation: triangle 300ms ease-out;
 -moz-animation: triangle 300ms ease-out;
 -webkit-animation: triangle 300ms ease-out;
 -o-animation: triangle 300ms ease-out;
 transform:rotate(180deg);
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
}

@keyframes triangle
{
0%{ transform: rotate(180deg), -ms-transform: rotate(180deg);}
25%  {background: yellow;}
50%  {background: blue;}
100% { transform: rotate(180deg), -ms-transform: rotate(180deg);
}
}

@-moz-keyframes triangle
{
0%{ -moz-transform: rotate(0deg)}
100% { -moz-transform: rotate(180deg); 
}
}

@-webkit-keyframes triangle
{
0%{-webkit-transform: rotate(0deg)}
100% {-webkit-transform: rotate(180deg);
}
}

@-o-keyframes triangle
{
0%{-o-transform: rotate(0deg);}
100% {-o-transform: rotate(180deg);}
}
*/

#menu {
 position: relative;
 height: 41px;
 border-bottom: 1px solid #03a2ce;
 border-top: 1px solid #2279c1;
 border-radius: 7px;
 background-color: #3ea6dd;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#3ea6dd), to(#1882b6));
 background-image: -webkit-linear-gradient(top, #3ea6dd, #1882b6);
 background-image: -moz-linear-gradient(top, #3ea6dd, #1882b6);
 background-image:-o-linear-gradient(top, #3ea6dd, #1882b6);
 background-image:linear-gradient(to bottom, #3ea6dd, #1882b6);
 top: 8px;
 behavior: url(../PIE.htc);
}

#menu ul a li {
 line-height: 41px;
 height: 41px;
 padding: 1px 20px 0px 20px;
 float: left;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 -webkit-font-smoothing: antialiased;
 font-weight: 500;
 letter-spacing: 1px;
 font-size: 11px !important;
 text-transform: uppercase;
 position: relative;
 color: #fff;
 text-shadow: 0px -2px 0px #2279c1;
 border-right: 1px solid #03a2ce;
 font-weight: bold;
}

#menu ul .first {
 border-radius: 7px 0px 0px 7px;
 behavior: url(../PIE.htc);
}

#menu ul li:hover {
 background: rgba(0,0,0,.1);
}

#menu ul li:active, #menu ul li.active {
 background: rgba(0,0,0,.1);
 border-right: 1px solid rgba(0,0,0,.3);
 box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
}

.r-tools {
 position: relative;
 float: right;
 height: 26px;
 display: table;
 margin-top: 9px;
 min-width: 174px;
 max-width: 300px;
}

#menu .r-tools input[type=search] {
 -webkit-appearance: textfield;
 -webkit-box-sizing: content-box;
 -moz-appearance: none;
 display: inline-block;
 float: left;
 position: absolute;
 top: -1px;
 border-radius: 0;
 color: #4a464d;
 height: 26px;
 background: #f0f3f8;
 border: 1px solid #276d93;
 padding: 0px 25px 0px 15px;
 border-radius: 15px;
 margin-right: 10px;
 width: 60px;
 -webkit-transition: all 0.2s ease;
 -moz-transition: all 0.2s ease;
 -o-transition: all 0.2s ease;
 transition: all 0.2s ease;
 behavior: url(../PIE.htc);
}

#menu .r-tools input[type=search]:focus {
 background: #fff;
 width: 200px;
 margin-left: -140px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
 -webkit-appearance: none;
}

#menu .r-tools input[type=submit] {
 background: url(../pic/search.png) no-repeat right;
 position: absolute;
 top: 6px;
 right: 85px;
 cursor: pointer;
 width: 11px;
 height: 14px;
}

#menu .r-tools .small-avatar {
 float: right;
 margin-right: 20px;
}

.small-avatar img {
 border: 1px solid #fff;
}

.small-avatar i {
 position: relative;
 top: 6px;
 left: 2px;
}

/*.timeline {
 margin-top: 20px;
 width: 780px;
}*/
/*
.timeline-elem:last-child {
 border-bottom: none;
}*/

.h2 {
 margin: 10px 0;
}

.arrow-back {
 background: #8cb7e3;
 color: #fff;
 text-shadow: 0px 1px 0px rgba(0,0,0,.2);
 font: bold 11px Helvetica, Arial, sans-serif;
 text-decoration: none;
 padding: 0 7px;
 line-height: 25px;
 height: 25px;
 display: inline-block;
 border-radius: 0 3px 3px 0;
 position: relative;
 margin: 7px 0 12px 7px;
}

.arrow-back:before {
 position: absolute;
 content: "";
 width: 7px;
 height: 25px;
 top: 0px;
 left: -7px;
 background: url(../pic/blue-arrow_l.png) no-repeat 0 0;
}

#gift_info {
 border-top: 1px solid #e7e8ed;
 border-bottom: 1px solid #e7e8ed;
 background: #f3f9fd;
 display: table;
 width: 100%;
}

#gift_info .gi_l {
 float: left;
 width: 191px;
 min-height: 250px;
 padding: 25px 20px 10px 20px;
}

#gift_info .gi_r {
 display: block;
 width: 512px !important;
 padding: 23px 0 10px 0;
 position: relative;
 float: right;
}

.gift_img {
 border: 2px solid #fff;
 box-shadow: 0px 0px 0px 1px #b2b7ba;
 border-radius: 2px;
 width: 185px;
 position: relative;
}

.gift_l .sale_circle {
 background: #98c21d;
 width: 30px;
 padding: 7px 0;
 text-align: center;
 line-height: 30px;
 color: #fff;
 border-radius: 30px;
 border: solid 2px #fff;
 position: absolute;
 right: -10px;
 top: -10px;
 font: bold 13px Helvetica, Arial, sans-serif;
}

.gift_l {
 height: 290px;
}

.gift_l .gift_price {
 background: #8ab0d7;
 position: absolute;
 bottom: 0px;
 left: 0px;
 color: #fff;
 padding: 6px 0;
 text-align: center;
 font: bold 12px Helvetica, Arial, sans-serif;
 width: 100%;
}

.currency {
 font-size: 11px;
 text-transform: uppercase;
 color: #9a9a9a;
 text-align: center;
}

.currency i {
 position: relative;
 top: 6px;
}

.currency li:hover {
 color: #4f72ab;
}

.currency li {
 display: inline-block;
 margin: 8px 7px 10px 0px;
 cursor: pointer;
}

.currency .active {
 font-weight: bold;
 text-decoration: underline;
 color: #4f72ab;
}

.wish_add {
 font-family: Tahoma, sans-serif;
 color: #fff;
 height: 21px;
 text-shadow: 1px 1px 0px rgba(0,0,0,.2);
 line-height: 21px;
 display: block;
 text-align: center;
 border-radius: 2px;
 border: solid 1px #539811;
 background: #67bc18;
 background-image: -webkit-linear-gradient(bottom, #5ba316, #73d31a);
 background-image: -moz-linear-gradient(bottom, #5ba316, #73d31a);
 background-image: -o-linear-gradient(bottom, #5ba316, #73d31a);
 background-image: -ms-linear-gradient(bottom, #5ba316, #73d31a);
 background-image: linear-gradient(to top, #5ba316, #73d31a);
 position: relative;
}

#gift_info .disabled {
 font-family: Tahoma, sans-serif;
 color: #fff;
 text-shadow: 1px 1px 0px #aaa;
 height: 21px;
 line-height: 21px;
 display: block;
 text-align: center;
 border-radius: 2px;
 border: solid 1px #aab6c4;
 background: #c5cfdb;
 position: relative;
}

.wish_make {
 margin-top: 7px;
 font-family: Tahoma, sans-serif;
 color: #fff;
 height: 21px;
 line-height: 21px;
 display: block;
 text-align: center;
 border-radius: 2px;
 border: solid 1px #02649c;
 background: #008ec2;
 background-image: -webkit-linear-gradient(bottom, #0473b2, #03a2ce);
 background-image: -moz-linear-gradient(bottom, #0473b2, #03a2ce);
 background-image: -o-linear-gradient(bottom, #0473b2, #03a2ce);
 background-image: -ms-linear-gradient(bottom, #0473b2, #03a2ce);
 background-image: linear-gradient(to top, #0473b2, #03a2ce);
 position: relative;
}

.wish_add:hover, .wish_make:hover {
 box-shadow: inset 0 5px 10px rgba(255,255,255,.3);
}

.wish_add:active, .wish_make:active {
 box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}

.wa_icon {
 background: url(../pic/icons/wish_add.png) no-repeat;
 width: 15px;
 height: 15px;
 position: absolute;
 left: 10px;
 top: 2px;
}

.gift_icon {
 background: url(../pic/icons/gift.png) no-repeat;
 width: 11px;
 height: 14px;
 position: absolute;
 left: 10px;
 top: 3px;
}

.icon-blue-arrow-right {
 background: url('../pic/arrow-right.png') no-repeat;
 width: 6px;
 height: 9px;
 display: inline-block;
 margin-left: 5px;
 position: relative;
 top: 1px;
}

.gift_block {
 display: table;
 padding-left: 5px;
 margin-top: 8px;
 width: 520px;
}

.gift_block hr {
 border: none;
 border-top: 1px solid #dee4ec;
 border-bottom: #f7fbfe;
 margin-bottom: 10px;
 clear: both;
 position: relative;
 float: left;
 width: 480px;
}

.gb_title {
 float: left;
 width: 65px;
 text-align: right;
 font: normal 12px Helvetica, Arial, sans-serif;
 color: #75849b;
 margin-right: 17px;
 text-shadow: 0px 1px 0px #fff;
}

.gb_content {
 float: left;
 width: 300px;
}

.gb_content p {
 color: #75849b;
 font: normal 12px Helvetica, Arial, sans-serif;
 line-height: 18px;
}

.gift_name {
 font: bold 13px Helvetica, Arial, sans-serif;
 color: #0d86d5;
}

.gift_title {
 font: bold 12px Helvetica, Arial, sans-serif !important;
 color: #0d86d5 !important;
}

.gb_content a {
 text-decoration: underline;
 color: #75849b;
 font-size: 12px;
}

.contentProgress {
 display: block;
 width: 155px;
 height: 5px;
 position: relative;
 top: 5px;
 border-radius: 5px;
 background-color: #d7d7d7;
 -webkit-box-shadow: 0 1px rgba(255,255,255,.65), inset 0 1px 2px rgba(0,0,0,.15);
 -moz-box-shadow: 0 1px rgba(255,255,255,.65), inset 0 1px 2px rgba(0,0,0,.15);
 box-shadow: 0 1px rgba(255,255,255,.65), inset 0 1px 2px rgba(0,0,0,.15);
}

.available {
 display: block;
 position: relative;
 left: 1px;
 height: 3px;
 border-radius: 5px;
 background-color: #7cb5e1;
 -webkit-box-shadow: inset 0 1px rgba(255,255,255,.33);
 -moz-box-shadow: inset 0 1px rgba(255,255,255,.33);
 box-shadow: inset 0 1px rgba(255,255,255,.33);
 background: #77b3e0;
 border: 1px solid #409ade;
}

.gb_icon {
 background: url('../pic/gift-sprite.png');
 display: block;
 float: left;
 margin-right: 10px;
 position: relative;
}

.gb_paypal {
 background-position: 0 -6px;
 width: 51px;
 height: 14px;
}

.gb_cp {
 background-position: -61px -7px;
 width: 45px;
 height: 11px;
}

.gb_visa {
 background-position: -118px -1px;
 width: 28px;
 height: 19px;
 bottom: 6px;
}

.gb_maestro {
 background-position: -160px 0;
 width: 31px;
 height: 20px;
 bottom: 7px;
}

.gb_webmoney {
 background-position: -204px -4px;
 width: 55px;
 height: 14px;
}

.gb_fb {
 background-position: -5px -43px;
 width: 15px;
 height: 15px;
}

.gb_lj {
 background-position: -25px -43px;
 width: 15px;
 height: 15px;
}

.gb_vk {
 background-position: -47px -43px;
 width: 15px;
 height: 15px;
}

.gb_gp {
 background-position: -73px -43px;
 width: 15px;
 height: 15px;
}

.gb_tw {
 background-position: -99px -43px;
 width: 15px;
 height: 15px;
}

.g_desc {
 font-size: 12px;
 float: left;
 margin-right: 15px;
}

#content .green {
 color: #95c11f;
 font-weight: bold;
}

#content .l_blue {
 color: #8bb8ea;
 font-weight: bold;
}

.px13 {
 font-size: 13px;
}

.px11 {
 font-size: 11px !important;
}

.h3 {
 margin: 15px 0;
}

.recipient input[type=search] {
 -webkit-appearance: textfield;
 -webkit-box-sizing: content-box;
 -moz-appearance: none;
 display: inline-block;
 border: 1px solid #d9dce4;
 width: 260px;
 font-size: 11px;
 color: #75849c;
 border-radius: 2px;
 padding: 6px 30px 6px 5px;
 -webkit-transition: all 0.2s ease;
 -moz-transition: all 0.2s ease;
 -o-transition: all 0.2s ease;
 transition: all 0.2s ease;
 behavior: url(../PIE.htc);
}

.recipient {
 position: relative;
 width: 300px;
 margin-bottom: 5px;
}

.recipient input[type=submit] {
 background: url(../pic/search.png) no-repeat right;
 position: absolute;
 top: 6px;
 right: 10px;
 cursor: pointer;
 width: 11px;
 height: 14px;
}

.choose_friend {
 width: 170px;
 margin-right: 9px;
 height: 58px;
 float: left;
 padding: 12px 1px 12px 6px;
 display: block;
}

.choose-list {
 clear: both;
}

.choose-list .px13 {
 margin-bottom: 10px;
}

.choose_friend img {
 width: 50px;
 height: 50px;
 border: 1px solid #fff;
 box-shadow: 0 0 0 1px #dee0e2;
}

.choose_friend .icon-online-small, .choose_friend .icon-offline-small {
 margin: 0 5px 0 6px;
}

.choose {
 float: left;
 width: 100px;
}

.choose_friend:hover {
 background: #f3f9fd;
 cursor: pointer;
}

.choose_friend:hover .c_button {
 display: block;
}

.choose_friend .c_name {
 color: #349cdf;
 font: bold 11px Helvetica, Arial, sans-serif;
 width: 100px;
}

.c_button {
 background: #62b0e3;
 border-radius: 3px;
 width: 74px;
 height: 21px;
 line-height: 21px;
 display: none;
 text-align: center;
 color: #fff;
 text-shadow: 0px 1px 0px rgba(0,0,0,.2);
 margin-top: 10px;
}

.gi_r .map {
 position: absolute;
 background: #f3f9fd;
 width: 515px;
 right: 0px;
 height: 100%;
 z-index: 10;
 top: 0px;
 display: none;
 overflow: hidden;
}

.show_info a {
 position: relative;
 top: 2px;
}

.g_if {
 width: 400px;
 z-index: 9;
 padding: 1px 20px !important;
}

.g_if .gift_title {
 margin: 10px 0;
}

.g_if p {
 margin-bottom: 10px;
 line-height: 16px;
 font-size: 11px;
 color: #75849c;
}

.nm {
 margin: 0 !important;
}

.c_a {
 float: right;
 margin-top: 5px;
}

.c_a a {
 text-decoration: underline;
}

.chosen_friend {
 position: absolute;
 right: 30px;
 width: 94px;
 text-align: center;
}

.chosen_friend2 {
 position: absolute;
 right: 20px;
 top: -45px;
 width: 94px;
 text-align: center;
}

.chosen_friend2 .c_name {
 font: bold 13px Helvetica, Arial, sans-serif;
 color: #009ad7;
 position: relative;
 top: 25px;
 width: 100%;
 text-align: center;
}

.round_mask {
 margin-top: 5px;
 width: 94px;
 height: 106px;
 text-align: left;
}

.round_mask .r_m {
 background: url(../pic/round_mask.png);
 width: 94px;
 height: 106px;
 position: absolute;
 z-index: 9;
}

.round_mask img {
 position: relative;
 top: 8px;
 left: 11px;
 border-radius: 40px;
 height: 75px;
 width: 75px;
 z-index: 8;
}

.chosen_friend .c_title {
 font: bold 18px Helvetica, Arial, sans-serif;
 color: #0d86d5;
}

.chosen_friend .c_name {
 font: normal 12px Helvetica, Arial, sans-serif;
 color: #75849c;
}

.m_header {
 height: 30px;
 background: #98c21e url(../pic/map_leather.png) repeat-x bottom;
 line-height: 28px;
 padding: 0 9px;
}

.map_marker {
 background: url(../pic/icons/map_marker.png) no-repeat;
 width: 8px;
 height: 12px;
 display: inline-block;
 position: relative;
 top: 1px;
}

.map_name {
 color: #ffffff;
 font: bold 12px Helvetica, Arial, sans-serif;
}

.map_close {
 background: url(../pic/icons/map_close.png) no-repeat;
 width: 9px;
 height: 9px;
 float: right;
 position: relative;
 top: 10px;
 cursor: pointer;
}

.map_wrapper {
 background: url(../pic/map_wrapper.png) no-repeat;
 width: 84px;
 height: 99px;
 position: absolute;
 bottom: 0px;
 left: -1px;
}

#my_video {
 display: block;
 width: 190px;
 min-height: 190px;
}

.invite-friend {
 border-top: 1px solid #e7e8ed;
 border-bottom: 1px solid #e7e8ed;
 background: #f3f9fd;
 display: table;
 width: 100%;
 padding: 17px 15px 7px 15px;
 position: relative;
}

.invite-form {
 clear: both;
 display: block;
}

.searchbox {
 position: relative;
 width: 300px;
}

.invite-form input {
 padding: 0 7px !important;
 border: 1px solid #d9dce4;
 border-radius: 2px !important;
 behavior: url(../PIE.htc);
}

.invite-form .searchbox input[type=search] {
 -webkit-appearance: textfield;
 -webkit-box-sizing: content-box;
 -moz-appearance: none;
 display: inline-block;
 float: left;
 color: #4a464d;
 height: 23px;
 background: #fff;
 border: 1px solid #d9dce4;
 width: 290px;
 position: relative;
}

.invite-form .searchbox input[type=submit] {
 background: url(../pic/icons/g-loc.png) no-repeat right;
 position: absolute;
 top: 4px;
 right: -1px;
 cursor: pointer;
 width: 17px;
 height: 18px;
 border: none;
}

#datepicker {
 height: 23px;
 line-height: 23px;
 margin-left: 30px;
 width: 90px;
 font: bold 13px Helvetica, Arial, sans-serif !important;
 color: #4f72ab !important;
 background: #fff url(../pic/icons/g-cal.png) no-repeat 88px center;
}


#timepicker {
 height: 23px;
 line-height: 23px;
 margin-left: 12px;
 width: 60px;
 font: bold 13px Helvetica, Arial, sans-serif !important;
 color: #4f72ab !important;
 background: #fff url(../pic/icons/g-clock.png) no-repeat 55px center;
}

.i-desc {
 color: #75849c;
 text-align: center;
 width: 550px;
 margin: 15px 0 5px 0;
}

.b-icons {
 clear: both;
 display: inline-block;
 text-align: center;
}

.b-icons .active {
 font-weight: bold;
}

.b-icon {
 float: left;
 margin-right: 8px;
}

.b-desc {
 display: block;
 text-align: center;
 font-size: 10px;
}

.category-icon-eat:hover {
 background-position: 0 0;
}
.category-icon-eat.active {
 background-position: -42px 0 !important;
}

.hint {
 font-family: 'Festus';
 -webkit-font-smoothing: antialiased;
 font-size: 22px;
 color: #0d86d5;
}

.geo_icon {
 background: url(../pic/icons/geo_bg.png) no-repeat;
 width: 24px;
 height: 25px;
 display: inline-block;
 position: relative;
 top: 7px;
 cursor: pointer;
}

.geo_arrow {
 background: url(../pic/icons/geo_arrow.png) no-repeat;
 width: 34px;
 height: 12px;
 display: inline-block;
 position: relative;
 bottom: 15px;
}

.geo_rotate {
 background: url(../pic/icons/geo_rotate.png) no-repeat;
 width: 15px;
 height: 13px;
 position: absolute;
 left: 4px;
 top: 7px;
 -webkit-animation: geo_icon 2s ease infinite;
 -moz-animation: geo_icon 2s ease infinite;
 -ms-animation: geo_icon 2s ease infinite;
 -o-animation: geo_icon 2s ease infinite;
}

.geo {
 padding-top: 10px !important;
 border-bottom: none;
}

@-webkit-keyframes geo_icon {
 0% { -webkit-transform: rotate(0deg); }
 50% { -webkit-transform: rotate(20deg);  }
 100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes geo_icon {
 0% { -moz-transform: rotate(0deg); }
 50% { -moz-transform: rotate(20deg); }
 100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes geo_icon {
 0% { -o-transform: rotate(0deg); }
 50% { -o-transform: rotate(20deg); }
 100% { -o-transform: rotate(0deg); }
}
@-ms-keyframes geo_icon {
 0% { -ms-transform: rotate(0deg); }
 50% { -ms-transform: rotate(20deg); }
 100% { -ms-transform: rotate(0deg); }
}

/* ===== Tipsy ===== */

.tipsy { padding: 4px; font-size: 11px; position: absolute; z-index: 1000; }
.tipsy-inner { padding: 5px 7px; background-color: #6f7b87; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.tipsy-arrow { position: absolute; background: url('../pic/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s { margin-top: -5px; }
.tipsy-w { margin-left: 5px; }
.tipsy-e { margin-left: -5px; }
.tipsy-n { margin-top: 5px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

.title h2 {
 color: #0d86d5;
}

.title h2 span {
 color: #706d6b;
}

.photo-add {
 position: relative;
 bottom: 35px;
 padding: 3px 8px 5px 8px;
 border: 1px solid #bfbfbf;
 margin-bottom: 1px;
 font: normal 11px Tahoma, sans-serif;
}

.btn-green {
 text-shadow: 0px 1px 0px rgba(0,0,0,.3);
}

.photo-edit {
 color: #75849b;
 position: relative;
 top: 23px;
 cursor: pointer;
}

.photo-grid {
 margin-top: 10px;
}

.photo-grid img {
 border: 2px solid #fafbfb;
 box-shadow: 0 0 0 1px #d5d8d9;
 border-radius: 2px;
 margin: 0 29px 30px 0;
}

.album .content {
 margin-left: 10px;
}

.show_cat {
 font-size: 10px;
 color: #8399bf;
 display: block;
 margin-left: 7px;
 position: relative;
 top: 7px;
}

.show_cat:hover {
 text-decoration: underline;
 color: #4f72ab;
}

.s-search {
 position: relative;
 top: 7px;
 right: 10px;
 padding: 2px 10px 1px 10px;
}

.icon-search-white {
 top: 2px;
 margin-right: 5px;
}

.payments-gifts {
 display: block;
 background: url(../pic/gifts.png);
 width: 194px;
 height: 135px;
 margin: 0 auto 30px auto;
}

.center {
 text-align: center;
}

#map {
 margin-bottom: 7px;
}

.info a {
 color: #0e87d7;
}

.scrollup {
 width: 49px;
 height: 55px;
 opacity: 0.5;
 position: fixed;
 bottom: 20px;
 margin-left: 72px;
 display: none;
 background: url('../pic/top.png') no-repeat;
}

.scrollup:hover {
 opacity: 1;
}

.scrollup:active {
 opacity: 0.7;
}

.delete_avatar {
 color: #0d86d5;
}

.hint.avatar {
 margin-top: 12px;
}

#popup-bottom {
 background: rgba(149,193,31,.7);
 width: 180px;
 padding: 10px;
 height: 50px;
 border-radius: 5px;
 position: fixed;
 bottom: 10px;
 left: 10px;
}

#popup-bottom img {
 width: 50px;
 height: 50px;
 display: block;
 float: left;
 margin-right: 10px;
 border-radius: 3px;
}

#popup-bottom .p-name {
 color: #fff;
 font: 600 13px Helvetica, Arial, sans-serif;
 line-height: 12px;
 -webkit-font-smoothing: antialiased;
 display: block;
 width: 80px;
 margin-bottom: 3px;
}

#popup-bottom .p-purpose {
 display: block;
 font: 400 11px Helvetica, Arial, sans-serif;
 color: #476500;
}

.pin {
 display: block;
 width: 26px;
 height: 31px;
 padding: 14px 11px 11px 11px;
}

.pin.blue {
 background: url(../pic/pin-blue.png) no-repeat;
}

.pin.green {
 background: url(../pic/pin-green.png) no-repeat;
}

.pin img {
 height: 25px;
 width: 25px;
 border-radius: 2px;
}