#show_combobox {
	font-size: 12px;
	float:right;
	color: #8CB7E3;
}

.search-events {
    margin-bottom: 20px;
}

.search-events input[type=text] {
    width: 300px;
    padding-right: 25px !important;
}

.search-events .icon-search {
    position: absolute;
    top: 9px;
    right: 5px;
}

form{
	color:grey;
}
#dialog-form {
	padding: 10px; 
}

#event_type{
	margin-top:10px;
	padding-left:10px;
	
	height: 20px;
}

#event_place {
	padding-left:10px;
	margin-top:15px;
	margin-bottom:10px;
	color:grey;
	height: 20px;
	background-image: url("../pic/info.png"); 
	background-position: right 2px;
 	background-repeat: no-repeat;
}
#event_start{
	font-weight: bold;
	color:#888888;
	margin-left:30px;
	margin-right:10px;
	border: none;
}
#event_end  {
	font-weight: bold;
	color:#888888;
	margin-left:30px;
	border: none;
}

hr{ /* √оризонтальна€ лини€ */
	margin-left: -10px; 
	margin-right: -10px;
    color: #a0afaf; /*дл€ IE */
    background-color: #a0afaf; /*дл€ Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
   
}

.section{
margin-left:93.5px;
margin-right:85.5px;
}
#event_repeat {
padding-left:10px;
	color:grey;
	margin-right:15px;
	width: 190px;
	height:30px;
}
#event_complete{
padding-left:10px;
	color:grey;
	margin-left:0px;
	margin-right:15px;
	width: 190px;
	height:30px;
}
#event_reminder{
padding-left:10px;
	color:grey;
	margin-left:0px;
	width: 190px;
	height:30px;
	margin-bottom:10px;
}

#event_after{
	font-weight: bold;
	color:#888;
	margin-left:5px;
	border: none;
}

#privacy_all{
	margin-top:5px;
	margin-bottom:10px;
}

#privacy_nobody{
	margin-top:5px;/
	margin-bottom:10px;
	margin-left:20px;
}

#privacy_friends { 
	width:590px; height: 18px; 
	padding:3px 3px; 
	margin-left: 5px;
	margin-bottom:15px; 
	border:1px solid #DDD; 
	background-color:#fff;
}
#privacy_friends #to { width:80px; margin:0 0 2px 0; padding:0 0 3px; position:relative; top:0; float:left; border:none; z-index:0;}
#privacy_friends input { display:block; }
#privacy_friends span { display:block; width:auto; margin:0 3px 3px 0; padding:3px 20px 4px 8px; position:relative; float:left; text-indent:0; background-color:#eee; border:1px solid #333; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; color:#333; font:normal 11px Verdana, Sans-serif; }
#privacy_friends span a { position:absolute; right:8px; top:2px; color:#666; font:bold 12px Verdana, Sans-serif; text-decoration:none; }
#privacy_friends span a:hover { color:#ff0000; }
.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }
/* ¬ыпадающий список в css/ui_custom.css 294 строка */
/* строка 296: z-index там был 1000 и рисовалось за окошком */

#event_note{
	padding-left:10px;
	outline: none; 
	resize: none; 
	width:600px;
	height:60px;
}

