#show_combobox {
	font-size: 12px;
	float:right;
	color: #8CB7E3;
}
.ui-dialog{
	background: whiteSmoke;
}
.ui-dialog .ui-dialog-titlebar{
	background: whiteSmoke;
}
.search-events {
    margin-bottom: 20px;
}

.search-events input[type=text] {
    width: 300px;
    padding-right: 25px !important;
}

.search-events .icon-search {
    position: absolute;
    top: 9px;
    right: 5px;
}

#dialog-form {
	padding: 10px; 
	color: grey;
	overflow-x: hidden;
}

#event_title{
	width: 100%; 	height: 25px;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left:10px;

}

#event_place {
	width: 100%; 	height: 25px;
	padding-left:10px;
	margin-bottom:10px;
	color:grey;
	background-image: url("../pic/info.png"); 
	background-position: right 2px;
 	background-repeat: no-repeat;
}
#event_start{
	font-weight: bold;
	color:#888888;
	margin-left:30px;
	margin-right:10px;
	border: none;
	background-color: inherit;
}
#event_end  {
	font-weight: bold;
	color:#888888;
	margin-left:30px;
	border: none;
	background-color: inherit;
}

hr{ margin-left: -1px; }

#dialog-form hr{ 
	margin-left: -20px; 
	margin-right: -20px;
    background-color: #a0afaf; 
    border:0px none;
    height:1px;
   
}

.section{
margin-left:93.5px;
margin-right:85.5px;
}

#event_repeat {
	padding-left:10px;
	color:grey;
	margin-right:15px;
	width: 190px;
	height:30px;
}

#event_finish{
	padding-left:10px;
	color:grey;
	margin-left:0px;
	margin-right:15px;
	width: 190px;
	height:30px;
}
#event_remind{
	padding-left:10px;
	color:grey;
	margin-left:0px;
	width: 190px;
	height:30px;
	margin-bottom:10px;
}

#event_after{
	font-weight: bold;
	color:#888;
	margin-left:5px;
	border: none;
}

#privacy_all{
	margin-top:5px;
	margin-bottom:10px;
}

#privacy_nobody{
	margin-top:5px;
	margin-bottom:10px;
	margin-left:20px;
}

#privacy_friends { 
	width: 602px;
	float: left;
	padding:3px 3px 1px 3px; 
	margin-bottom: 10px;
	border:1px solid #DDD; 
	background-color:#fff;
}

#privacy_friends #to { width: 150px; margin: 1px 0 2px 0; padding: 1px 0 3px 8px;  position:relative; top:0; float:left; border:none; z-index:0; box-shadow: none;}
#privacy_friends input {  }
#privacy_friends span { display:block; width:auto; margin:0 3px 3px 0; padding:3px 20px 4px 8px; position:relative; float:left; text-indent:0; background-color:#5FACFF; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#fff; font:normal 11px Verdana, Sans-serif; }
#privacy_friends span a { position:absolute; right:8px; top:2px; color:#fff; font:bold 12px Verdana, Sans-serif; text-decoration:none; }
#privacy_friends span a:hover { color:#ff0000; }

.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }
.ui-menu .ui-menu-item a { padding:5px 10px 5px 10px; }
.ui-menu .ui-menu-item img { width: 30px; height: 30px; float: left; margin-right: 10px;} 

.ui-autocomplete {
	z-index:1100 !important;
	width: 600px;
	max-height: 180px;
    overflow-y: auto;
	overflow-x: hidden;
	
}

#event_notes{
	padding-left:10px;
	outline: none; 
	resize: none; 
	width:100%;
	height:60px;
}

.whead h5{
background-image: url("../pic/panel2.png");
background-size:cover;
font-size:18px;
height:60px;
padding-left:20px;
padding-top:15px;
}
.whead {  color: #fff; /*a#636363;*/
}
#event_start, #event_end  {
	width:100px;
	float: left;
}
#lbl{
	padding-top:20px;
}

.ui-button-text{
	
}