/* Заголовок страницы */
.title {
    position: relative;
    margin-bottom: 0px;
}

.title.margin {
    margin-bottom: 10px;
}

.title-count {
    font-size: 12px;
    color: #716e6b;
}
.title h2  {
    color: #3d99d5;
    font-size: 15px;
    font-weight: bold;
}

.title h3  {
    font-size: 13px;
    font-weight: bold;
    color: #8cb7e3;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Действия страницы */

.nav-panel {
    width: 100%;
    border-bottom: 1px solid #edeff3;
    /*padding-bottom: 3px;*/
    vertical-align: middle;
}
.nav-panel.top-border {
    border-top: 1px solid #edeff3;
    border-bottom: 0;
    clear: both;
    margin-top: 21px;
    margin-bottom: 0;
    padding: 0;
}
.nav-panel .small-icon {
    margin-right: 4px;
}
.nav-panel ul {
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.nav-panel ul li {
    float: left;
    line-height: 15px;
}
.nav-panel .category-select {
    font-size: 11px;
    line-height: 40px;
    color: #5b6880;
    margin-left: 13px;
    top: 7px;
    position: relative;
}
.nav-panel .categories {
    line-height: 40px;
    margin-top: 7px;
}
.nav-panel .categories a {
    margin: 0 1px;
}

.left {
    position: relative;
}

.left input[type="text"] {
    position: relative;
    border: 1px solid #bfbfbf;
    padding: 4px 20px 4px 10px;
    background-color: #fff;
    width: 300px;
    margin: -20px 0 0 0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
    behavior: url(../PIE.htc);
}

.left .icon-search {
    position: absolute;
    top: 2px;
    right: 2px;
}

.left .friend-search-wrap {
    
}

.nav-panel .left li {
    float: left;
}

.nav-panel .left li:hover {
    background-color: #f3f9fd;
}

.nav-panel .left li.active {
    background-color: #75849C;
    background-color: rgba(117, 132, 156, 0.15);
}

.nav-panel .left li.active a {
    color: #4f72ab;
}

.nav-panel .left a, .nav-panel .left a:visited {
    display: block;
    padding: 6px 9px 3px 9px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #8cb7e3;
}

.nav-panel .left a .black {
    color: #75849c;
}

/*.nav-panel .left li a:hover {
    text-decoration: underline;
}*/

/*.nav-panel .right {
    color: #aeb4c5;
    font-size: 10px;
    font-weight: bold;
}*/

/* Правая часть */

.nav-panel .right li:hover {
    background-color: #f3f9fd;
}

.nav-panel .right li.active {
    background: #eaedf0;
}

.nav-panel .right a, .nav-panel .right a:visited {
    display: block;
    padding: 6px 9px 3px 9px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #8bb8ea;
}

.nav-panel .right li.active a {
    color: #4f72ab;
}

/* Подарок */
.gift {
    position: relative;
    padding-bottom: 11px;
    padding-top: 14px;
}
.gift .image-block {
    width: 106px;
    margin-right: 28px;
    color: #464d52;
    font-size: 10px;
}
/*.gift .image-block .what {
    width: 103px;
    height: 72px;
}*/

.gift .image-block .image-border {
    margin-bottom: 7px;
}

.gift .image-block .gift-avatar {
    height: 100px;
}

.gift .image-block .image-border span {
    display: block;
    padding-top: 7px;
    font-weight: bold;
    font-size: 10px;
    color: #3d99d5;
    position: relative;
    top: 1px;
}
.gift .from {
    font-size: 10px;
    color: #92929c;
    position: absolute;
    left: 115px;
    top: 60px;
}
.gift .info {
    width: 224px;
    margin-right: 28px;
}
.gift .info .date-label {
    display: block;
    line-height: 15px;
    font-size: 12px;
    color: #75849c;
    margin-right: 5px;
}
.gift .info .date {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #0d86d5;
}
.gift .info .counter {
    margin: 7px 0 25px 0;
}
.gift .info .counter .days-left {
    width: 90px;
    height: 24px;
    background: url('../pic/badge.jpg') no-repeat;
    display: block;
    font-size: 11px;
    color: #797882;
    padding: 5px 0 0 4px;
}
.gift .info .counter .days-count {
    width: 34px;
    height: 24px;
    display: block;
    background: url('../pic/days-count.png') no-repeat;
    font-size: 18px;
    font-family: Arial;
    color: #797882;
    padding: 2px 4px;
    letter-spacing: 7px;
}

.gift .info .all-info-link, .gift .info .all-info-link:visited {
    color: #5b6880;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 15px;
}

.gift .info .all-info-link .icon-info {
    margin-right: 4px;
}

.gift .actions ul {
    font-size: 10px;
    color: #92929c;
}

.gift .actions ul li a, .gift .actions ul li a:visited {
    display: block;
    line-height: 15px;
    padding: 2px 0;
    text-decoration: none;
    /*color: #92929c;*/
    color: #5b6880;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.gift .actions ul li a:hover {
    opacity: 1;
    background-color: #EFF0F3;
    background-color: rgba(239, 240, 243, 0.5);
}

.gift .actions ul li a i {
    margin-right: 8px;
}

.all-info {
    width: 470px;
    z-index: 10;
}

.my-subsrc {
    width: 300px;
}

.my-subsrc .place-info {
    padding-top: 6px;
}

.my-subsrc h3 {
    padding-left: 10px;
    padding-right: 10px;
}

.all-info .place {
    padding: 7px 9px;
}
.all-info .place .place-image {
    width: 104px;
    height: 69px;
    border: 1px solid #d1d4d5;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
    padding: 2px;
    margin-right: 3px;
    behavior: url(../PIE.htc);
}
.all-info .place .place-image img {
    width: 102px;
    height: 67px;
    border: 1px solid #d1d4d5;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
}

.all-info .place-info {
    margin-left: 4px;
}

.all-info h3 {
    padding-top: 7px;
    font-size: 11px;
    line-height: 14px;
    color: #349cdf;
}

.all-info.shop h3 {
    padding-left: 0;
}

.all-info .place-info h4 {
    font-size: 11px;
    line-height: 14px;
    color: #92929c;
    font-weight: normal;
    margin-bottom: 3px;
}

.all-info .place-info a, .gift .all-info .place-info a:visited {
    display: block;
    padding: 3px 0;
    color: #716e6b;
    font-size: 11px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
       -moz-transition: background-color 0.3s ease;
         -o-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
}

.all-info .place-info a:hover {
    /*zcolor: #92929C;*/
    background-color: #EFF0F3;

}

.all-info .place-info a i {
    margin-right: 8px;
}

.all-info .code {
    padding: 0 9px;
    width: 111px;
    font-size: 10px;
    color: #92929c;
    line-height: 22px;
}

.all-info .code span {
    display: block;
    font-size: 20px;
    line-height: 22px;
    color: #3d99d5;
    font-weight: bold;
}

.all-info .message {
    width: 327px;
    margin: 5px 0 27px 4px;
}

.all-info .message span {
    font-szie: 11px;
    font-weight: bold;
    color: #92929c;
}

.all-info .message p {
    font-style: 10px;
    color: #92929c;
    margin-top: 5px;
}


/**
 * Редактирование мест
 * behavior: url(../PIE.htc);
 */
.edit-places-container {
    margin-top: 15px;
}
.edit-places-container .map {
    width: 402px;
}
.edit-places-container .places-list {
    width: 342px;
}
.edit-places-container .places-list .places-wrapper {
    position: relative;
    top: -20px;
}
.edit-places-container .places-list .search-block {
    padding-top: 16px;
    background: url('../pic/map-block-top.png') no-repeat top;
    position: relative;
    top: -9px;
}
.edit-places-container .places-list .search-block .search-block-bottom {
    background: url('../pic/map-block-bottom.png') no-repeat bottom;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 26px;
    position: relative;
}
.edit-places-container .places-list .search-block .search-field {
    width: 330px;
    height: 9px;
    border: 1px solid #c6c6c8 !important;
}
.search-button {
    width: 23px;
    height: 23px;
    border: 0;
    padding: 0;
    margin: 0;
    background: #fff url('../pic/search-button.png') no-repeat;
    position: absolute;
    right: 0;
}
.edit-places-container .map .map-block-top {
    background: url('../pic/map-block-top.png') no-repeat top;
    padding-top: 12px;
}
.edit-places-container .map .map-block-bottom {
    background: url('../pic/map-block-bottom.png') no-repeat bottom;
    padding-bottom: 13px;
}
.edit-places-container .map .map-block-center {
    background: url('../pic/map-block-center.png') repeat-y top;   
    padding: 0 3px;
}

.edit-places-container .places-list {
    padding-top: 9px;
}

.edit-places-container .places-list .place {
    border-bottom: 1px solid #e3e4e9;
    padding: 14px 5px 14px 17px;
    -webkit-transition: background-color 0.3s ease;
       -moz-transition: background-color 0.3s ease;
         -o-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
}

.edit-places-container .places-list .place:hover {
    background-color: #EFF0F3;
    background-color: rgba(239, 240, 243, 0.5);
}

.edit-places-container .places-list .place.active {
    background-color: #EFF0F3;
    background-color: rgba(239, 240, 243, 0.9);
}

.edit-places-container .places-list .place .preview {
    outline: 1px solid #d1d4d6;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
    behavior: url(../PIE.htc);
    padding: 2px 2px 0 2px;
    margin-right: 12px;
}
.edit-places-container .places-list .place .info a {
    color: #349cdf;
    text-decoration: none;
    font-weight: bold;
}
.edit-places-container .places-list .place .info a:hover {
    text-decoration: underline;
}
.edit-places-container .places-list .place .info {
    max-width: 182px;
    overflow-x: hidden;
    color: #716e6b;
    font-size: 11px;
    line-height: 14px;
}
.edit-places-container .places-list .place .action {
    margin-left: 9px;
}
.edit-places-container .places-list .place .action .icon-delete {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.edit-places-container .places-list .place .action .icon-delete:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;   
}
    
/**
 * Check-in
 * behavior: url(../PIE.htc);
 */
.edit-places-container .places-list .place.checkin {
    position: relative;
}
.edit-places-container .places-list .place.checkin .info {
    max-width: 210px;
}
.edit-places-container .places-list .place.checkin .action {
    position: absolute;
    display: none;
    margin-left: 0;
    margin-top: -21px;
    top: 50%;
    right: 0;
}

.edit-places-container .places-list .place.checkin .action.current {
    display: block;
}

.places-list .place.checkin:hover .action {
    display: block;
}

.edit-places-container .places-list .place.checkin .fav-place {
    color: #95c11f;
    margin: 4px 0 0 1px;
    display: inline-block;
}
.edit-places-container .places-list .place.checkin .to-fav-place {
    color: #75849c;
    margin: 4px 0 0 0;
    display: inline-block;
}


/**
 * Who Near
 */
.edit-places-container .places-list .select_search-block-bottom {
    height: auto !important;
}
.edit-places-container .places-list .place .icon-container {
    position: relative;
    left: -3px;
    top: 4px;
}
.edit-places-container .places-list  .select_search-block-bottom {
    margin-bottom: 0;
}
.edit-places-container .places-list .place .info.who-near {
    margin-left: 4px;
}
.edit-places-container .places-list .place .info.who-near .place-name {
    color: #82bb26;
    margin-bottom: 17px;
    display: block;
    font-size: 11px;
}
.edit-places-container .places-list .place .info.who-near .checked-in-date {
    color: #6589ba;    
    font-size: 11px;
}

.edit-places-container .places-list .place .action ul {
    position: relative;
    top: -12px;
    border-left: 1px solid #dfe5ed;
    display: block;
    padding: 0 9px;
}
.edit-places-container .places-list .place .action ul li {
    margin-bottom: 3px;
}


/**
 * GEO
 */

.geo_icon {
 background: url(../pic/icons/geo_bg.png) no-repeat;
 width: 24px;
 height: 25px;
 display: inline-block;
 position: relative;
 top: 7px;
 cursor: pointer;
}

/**
 * Map Pin
 */

	div.marker-popup{
		position:relative;
		z-index:10000000;
		width: 169px;
		/*height: 128px;*/
		border: 1px solid #f2f7e3 !important;
		border-radius: 3px;
		-webkit-box-shadow: 0 0 0 1px #94c11e, 2px 3px 2px #b3b8a3 !important;
		-moz-box-shadow:    0 0 0 1px #94c11e, 2px 3px 2px #b3b8a3 !important;
		box-shadow:         0 0 0 1px #94c11e, 2px 3px 2px #b3b8a3 !important;
		padding: 5px 9px 5px 9px !important;
		/*top:26px;*/
	}
	.marker-popup .down-arrow{
		position: absolute;
		bottom: -14px;
		left: 50%;
		margin-left: -10px;
		width: 19px;
		height: 13px;
		background: url('../pic/pin_down_arrow.png') no-repeat;
		border-top: 1px solid #fff;
	}
	.marker-popup .title, .marker-popup .title a {
		color: #0d86d5;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
	}
	.marker-popup .rating {
		margin-top: 3px;
	}
	.marker-popup .adress {
		margin-bottom: 15px;
	}
	.marker-popup .info {
		width: 67px;
		display: inline-block;
		text-align: center;
		font-size: 14px;
		line-height: 16px;
		font-weight: bold;
		color: #95c11f;
	}
	.marker-popup .info.right {
		margin-left: 31px;
	}
	.marker-popup .info span {
		font-size: 11px;
		font-weight: normal;
	}
	.marker-popup:after {
		border-top-color:#fff;
		border-width:0 !important;
		margin-left:0 !important;
	}
	.marker-popup:before {
		border-top-color:#f2f7e3 !important;
		border-width:0 !important;
		margin-left:0 !important;
	}

/**
 * Comments
 */

.toggle-comments .c-control-text {
    display: block;
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #dee7f0;
    color: #97B425;
    font-weight: bold;
    font-size: 11px;
}
.toggle-comments .c-control-text-2 {
    color: #97B425;
    font-weight: bold;
}

.comment-content .comment-author {
    margin: 0 16px 0 0;
    color: #358DC5;
    text-decoration: none;
    font-weight: bold;
}

.wishlist-comments-container .wishlist-comment, .album-comment {
    padding: 8px 14px 11px 14px;
    border-bottom: 1px solid #e5ebf1;
}

.wishlist-comments-container .leave-comment {
    position: relative;
    padding: 15px 14px;
    display: inline-block;
}
.wishlist-comments-container .leave-comment .commenter-avatar {
    margin-right: 11px;
}
.wishlist-comments-container .leave-comment textarea {
    position: relative;
    top: 12px;
    padding: 5px 12px;
    width: 538px;
    height: 52px;
    border: 1px solid #d9dce4;
    border-radius: 1px;
    color: #9A9A9A;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.wishlist-comments-container .submit-and-info {
    width: 88px;
    height: 50px;
    display: inline-block;
    text-align: center;
}
.wishlist-comments-container .submit-and-info .btn-green  {
    margin: 0 0 9px 0 !important;
}
.wishlist-comments-container .submit-and-info span {
    /*line-height: 12px;*/
    color: #b4becc;
}

/**
 * Payment
 */
.payment-whon-where-what {
    margin-top: 28px;
    padding: 0 44px 12px 44px;
    border-bottom: 1px solid #EDEFF3;
    position: relative;
}

.payment-whon-where-what .chosen_friend {
    position: static;
    /*right: 10px;*/
    display: inline-block;
    width: 120px;
    text-align: center;
}
.payment-whon-where-what .round_mask {
    margin: 5px 13px 0 13px;
    width: 94px;
    height: 106px;
    text-align: left;
}
.payment-whon-where-what .arrow {
    display: inline-block;
    margin: 0 3px;
    height: 75px;
    vertical-align: middle;
}

.payment-whon-where-what .summ-block {
    display: inline-block;
    margin-left: 5px;
    width: 173px;
    height: 145px;
    background: url('../pic/summ-bg.png') top no-repeat;
    color: #95c11f;
    vertical-align: top;
    text-align: center;
}
.payment-whon-where-what .summ-block .title {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    font-size: 11px;
}
.payment-whon-where-what .summ-block .summ {    
    display: block;
    margin-top: 38px;
    color: #009ad7;
    font-size: 22px;
    font-family: 'Festus';
    -webkit-font-smoothing: antialiased;
}

.payment-whon-where-what .payed-30-days {
    position: absolute;
    display: none;
    height: 19px;
    background: url('../pic/payed-30-days.png') repeat-x;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #8fc2e4;
    border-radius: 2px;
    padding: 3px 7px 0 7px;
    left: 50%;
    margin-left: -193px;
    bottom: -5px;
}
.payment-whon-where-what .payed-30-days .arrow {
    position: absolute;
    background: url('../pic/payed-30-days-arrow.png') no-repeat;
    width: 5px;
    height: 9px;
    left: -8px;
    top: 7px;
}


.payment-write-message {
    text-align: center;
    padding: 11px 0 16px 0;
    border-bottom: 1px solid #EDEFF3;
}
.payment-write-message .green-button {
    margin: 0 auto;
    width: 189px;
    height: 21px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background: #98c21d;
    color: white;
    text-shadow: 1px 1px 1px #80a418;
    font-size: 10px;
    line-height: 18px;
}
.payment-write-message .green-button i {
    margin-right: 9px;
    top: 3px;
}
.payment-write-message .show {
    display: none;
}


.message-popup {
    padding: 8px;
    width: 358px;
}
.message-popup textarea.bordered {
    margin: 3px 0 0 4px;
    padding: 6px 14px;
    width: 320px;
    height: 56px;
    border: 1px solid #d9dce4;
    font-family: Arial, Helvetica, sans-serif;
}
.message-popup label {
    padding: 8px 0px 8px 4px;
    font-size: 11px;
}
.popover.payment-message {

}
.popover.payment-message .left-arrow {
    top: 6%;
}
.popover.payment-message .big-left-arrow {
    top: 6%;
}


.nav-panel.payment {
    padding: 0 44px;
}
.nav-panel .hint.payment {
    font-size: 28px;
}
.nav-panel .geo-arrow-down {
     position: relative;
     bottom: -18px;
     display: inline-block;
     margin-right: 10px;
     width: 27px;
     height: 25px;
     background: url("../pic/icons/geo_arrow-down.png") no-repeat;
}


.payment-methods {

}

.payment-methods .line {
    border-bottom: 1px solid #EDEFF3;
    height: 44px;
}
.payment-methods .line .title {
    font-size: 12px;
    padding: 9px 0 0 0;
    color: #95c11f;
    width: 160px;
    font-weight: bold;
}
.payment-methods .line .systems-icons a {
    margin-right: 25px;
}